spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/sharedGuideMachine
    username: root
    password: root
  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: none
  redis:
    host: 127.0.0.1
    port: 6379
  http:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB
  activemq: 
    broker-url: tcp://192.168.1.5:61616
    user: admin
    password: admin
    pool: 
      enabled: true
      max-connections: 50
      expiry-timeout: 10000
      idle-timeout: 30000
server:
  port: 8086
hibernate:
  dialect: org.hibernate.dialect.MySQLInnoDBDialect
  format_sql: true
wx:
  miniapp:
    configs:
        - appid: wx17643dc63677c18a
          secret: daa839f4b3cb45f0d71258038481a120
          msgDataFormat: JSON
  pay:
    appId: wx17643dc63677c18a
    mchId: wx17643dc63677c18a
    mchKey: wx17643dc63677c18a